<VirtualHost *:80>
	DocumentRoot /home/actualys/tinc/webviz/html
	ServerName	10.20.20.1
	<Directory /home/actualys/tinc/webviz/html>
	        Options Indexes FollowSymLinks
	        AllowOverride All
	        Require all granted
	</Directory>

</VirtualHost>
